<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/styles.css">
	<title>GitRepos</title>
</head>
<body>
	<a href="/"><h1>WAFS</h1></a>
	<main>
		{{{body}}}
	</main>
	<script type="text/javascript" src="../js/serviceWorker.js"></script>
	<script type="text/javascript" src="../js/jquery-3.3.1.js" async></script>
</body>
</html>
